<!DOCTYPE html>
<html lang="en">
<head>
    <title>GreatPlace </title>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
   <section class="menu_drop ">
        <div class="wrapper_drop ">
            <nav class="menu_main ">
                <ul>
                    <li><a href="index.html">Главная</a></li>
                    <li><a href="rubrics.html">Рубрики</a></li>
                    <li><a href="#">Анонсы</a></li>
                </ul>
            </nav>
            <div class="menu_footer ">
                <ul>
                    <li><a href="#">О проекте</a></li>
                </ul>
                <p class="watermark">©GreatPlace 2020</p>
            </div>
        </div>
    </section>
    <header class="header">
        <div class="wrapper">
            <a href="" class="menu-btn ">
                <span></span>
            </a>
            <div class="banner-header ">

            </div>
            <h2 class="logo">GreatPlace</h2>
        </div>
    </header>

    <main>
        <div class="wrapper_main">
            <div class="articles ">
                <a href="#" class="article ">
                    <img src="img/фото.png" alt="photo" class="img_article ">
                    <div class="discription">
                    <div class="wrapper_disc">
                      <p class="category">Красота и здоровье</p>
                      <h2 class="title">Правильный выбор косметики</h2>
                      <p class="text">В этой статье рассмотрим самые хитрые
                      методы, которые помогут вам выбрать то
                      самое, что вы будете любить
                      авававвавава</p>
                    </div>
                    </div>

                </a>
                <a href="#" class="article ">
                    <img src="img/фото.jpg" alt="photo" class="img_article ">
                    <div class="discription">
                    <div class="wrapper_disc">
                      <p class="category">Жизнь</p>
                      <h2 class="title">Прокрастинация уйдёт, если использовать этот метод</h2>
                      <p class="text">Этот простой метод даст большой эффект!
Начиная с первого дня, вы почувствуете
как легко делать дела!</p>
                    </div>
                    </div>

                </a>
                <a href="#" class="article ">
                    <img src="img/nike.jpg" alt="photo" class="img_article ">
                    <div class="discription">
                    <div class="wrapper_disc">
                      <p class="category">Спорт и фитнес</p>
                      <h2 class="title">Как их начало чуть не сталоконцом их карьеры: Nike</h2>
                      <p class="text">История, которая могла перевернуть с ногна голову сегодняшнюю индустрию моды</p>
                    </div>
                    </div>

                </a>
                <a href="#" class="article ">
                    <img src="img/photo.jpg" alt="photo" class="img_article ">
                    <div class="discription">
                    <div class="wrapper_disc">
                      <p class="category">Психология</p>
                      <h2 class="title">Как, используя методы психологии, стать лучше?</h2>
                      <p class="text">Рассмотрим основные аспекты и узнаем,
                      так ли легко стать крутым?</p>
                    </div>
                    </div>

                </a>
                <a href="#" class="article_long">
                   <img src="img/musk.png" alt="" class="img_article_long">
                    <div class="wrapper_long">
                         <p class="category_long">Наука</p>
                         <h2 class="title_long">Это победа! - Илон Масрассказал об первых успешных запусках ракет Space-X</h2>
                    </div>
                </a>
                <a href="" class="article_short">
                    <img src="img/river.png" alt="" class="img_article_short">
                    <div class="wrapper_short">
                      <p class="category_long">Путешествия</p>
                      <h2 class="title_short">Самое экзотическое местона нашей Планете</h2>
                    </div>
                </a>
                <a href="" class="article_short">
                    <img src="img/little_big.png" alt="" class="img_article_short">
                    <div class="wrapper_short">
                      <p class="category_long">Шоубиз</p>
                      <h2 class="title_short">Евровидение отменяется...Почему и как отвечают Little Big</h2>
                    </div>
                </a>
            </div>
            <aside>
                <div class="recommended">
                    <h2 class="trend">В тренде</h2>
                    <div class="top">
                        <a href="#" class="drop-top">
                          <div class="wrapper_drop_top">
                             <span class="top-number">1</span>
                              <p class="go">В этой статье рассмотрим самые хитрые
                              методы, которые помогут вам выбрать то
                              самое, что вы будете любить</p>
                           </div>
                        </a>
                        <a href="#" class="drop-top">
                          <div class="wrapper_drop_top">
                             <span class="top-number">2</span>
                              <p class="go">Хай зябл, ну как у вас всех делишки? Я соскучился</p>
                           </div>
                        </a>
                        <a href="#" class="drop-top">
                          <div class="wrapper_drop_top">
                             <span class="top-number">3</span>
                              <p class="go">Хай зябл, ну как у вас всех делишки? Я соскучился</p>
                           </div>
                        </a>
                        <a href="#" class="drop-top">
                          <div class="wrapper_drop_top">
                             <span class="top-number">4</span>
                              <p class="go">Хай зябл, ну как у вас всех делишки? Я соскучился</p>
                           </div>
                        </a>
                        <a href="#" class="drop-top">
                          <div class="wrapper_drop_top">
                             <span class="top-number">5</span>
                              <p class="go">Хай зябл, ну как у вас всех делишки? Я соскучился</p>
                           </div>
                        </a>
                    </div>
                </div>
                <div class="banner-main">
                </div>
            </aside>
        </div>
    </main>

    <script src="jquery-3.5.1.min.js"></script>
     <script src="js/main.js"></script>
</body>
</html>
